* {
  box-sizing: border-box;
}
body {
  background-color: aqua;
}
[class*='col-'] {
  float: left;
  padding: 10px;
}
/* For mobile phones: */
[class*='col-'] {
  width: 100%;
}

nav .btn {
  max-width: 576px;
  display: block;
  margin: px;
  width: ;
  padding: 5px;
  font-size: 5px;
  border: none;
}
