.orange-bg {
  background-color: #fceae8;
  margin-top: 30px;
}
.contant {
  margin-top: 50px;
  text-align: center;
}
h3 {
  color: palevioletred;
}
.btn {
  background-color: rgb(221, 63, 115);
  border-radius: 5px;
}
.project {
  margin-top: 30px;
}
.www {
  display: flex;
  justify-content: space-between;
}
h5 {
  color: palevioletred;
}
.cat1 {
  background-color: orange;
}
.cat2 {
  background-color: palevioletred;
}
.cat3 {
  background-color: blue;
}
.card {
  margin-top: 20px;
  box-shadow: 0 4px 6px 10px ghostwhite;
}
project {
  margin-top: 20px;
}
.footer {
  margin-top: 30px;
  text-align: center;
  background-color: rgb(245, 211, 167);
  padding: 5rem;
  font-size: 1.8rem;
  color: black;
}
